<div id="giscus_thread">
  <script src="https://giscus.app/client.js"
    data-repo="{{ .Site.Params.Comments.Giscus.Repo }}"
    data-repo-id="{{ .Site.Params.Comments.Giscus.RepoId }}"
    data-category="{{ .Site.Params.Comments.Giscus.Category }}"
    data-category-id="{{ .Site.Params.Comments.Giscus.CategoryId }}"
    data-mapping="{{ .Site.Params.Comments.Giscus.Mapping }}"
    data-strict="{{ .Site.Params.Comments.Giscus.Strict }}"
    data-reactions-enabled="{{ .Site.Params.Comments.Giscus.ReactionsEnabled }}"
    data-emit-metadata="{{ .Site.Params.Comments.Giscus.EmitMetadata }}"
    data-input-position="{{ .Site.Params.Comments.Giscus.InputPosition }}"
    data-theme="{{ .Site.Params.Comments.Giscus.Theme }}"
    data-lang="{{ .Site.Params.Comments.Giscus.Lang }}"
    data-loading="{{ .Site.Params.Comments.Giscus.Loading }}"
    crossorigin="anonymous"
    async>
  </script>
</div>
